/* $Id$ */

#header {
  background: transparent url(../images/alfresco.gif) no-repeat 5px 3px;
}

#header a {
  color: #004488;
  text-decoration: none;
}

#header h1 {
  float: left;
  font-family:'lucida grande',tahoma,arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  padding: 10px 0 0 45px;
}

#search-box {
  float: right;
  margin: 10px 5px;
}

#items-grid td {
  font-family: 'lucida grande',tahoma,arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
}

#items-grid .x-panel-header {
  font-size: 13px;
}

#folder-tree .x-tree-node {
  font-family: 'lucida grande',tahoma,arial,sans-serif;
  font-weight: bold;
}

#folder-tree .x-tree-node-icon {
  background-image: url(../images/space.gif);
}

.row-node-exists {
  background-color: #EEFFEE;
}

.row-icon {
  background: transparent url(../images/_default.gif) no-repeat;
  padding: 2px 0 2px 20px;
}

button.details {
  background-image: url(../images/details.gif);
}
button.download {
  background-image: url(../images/download.gif);
}
button.drupal {
  background-image: url(../images/drupal.png);
}
button.upload {
  background-image: url(../images/add.gif);
}
button.view {
  background-image: url(../images/view.gif);
}
