
body {
  font-family:'lucida grande',tahoma,arial,sans-serif;
  font-size:11px;
}
a {
  color:#15428B;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#header {
  background: #DFE6ED;
  height: 100%;
}
#header h1 {
  height: 100%;
  font-size: 16px;
  color: #004488;
  font-weight: bold;
  padding: 6px 10px 6px 45px;
  background: #DFE6ED url(../images/alfresco-logo-32.gif) no-repeat 5px top;
}

#tree-panel .x-tree-node-icon {
  background-image: url(../images/space-icon-default-16.gif);
}

.icon-0 .x-grid3-col-name {
  background: url(../images/space-icon-default-16.gif) no-repeat 0 0;
  padding: 2px 0 2px 20px;
}

.icon-1 .x-grid3-col-name {
  background: url(../images/content-icon-default.gif) no-repeat 0 0;
  padding: 2px 0 2px 20px;
}

.node-exists {
  background-color: #EEFFEE;
}
