/* $Id$ */

h1 {
  background: #DFE6ED url(../images/alfresco.gif) no-repeat 5px top;
  color: #004488;
  padding: 5px 0 0 45px;
  font-family:'lucida grande',tahoma,arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
}

.row-icon {
  background: transparent url(../images/_default.gif) no-repeat;
  padding: 2px 0 2px 20px;
}

.upload {
  background-image:url(../images/add.gif) !important;
}
.details {
  background-image:url(../images/details.gif) !important;
}
.drupal {
  background-image:url(../images/drupal.png) !important;
}
.download {
  background-image:url(../images/download.gif) !important;
}
.view {
  background-image:url(../images/view.gif) !important;
}

#items-grid .x-grid3-hd-row td,
#items-grid .x-grid3-row td,
#items-grid .x-grid3-summary-row td {
  font-family:'lucida grande',tahoma,arial,sans-serif;
  font-weight: bold;
}

#folder-tree .x-tree-node {
  font-family:'lucida grande',tahoma,arial,sans-serif;
  font-weight: bold;
}

#folder-tree .x-tree-node-icon {
  background-image: url(../images/space.gif) !important;
}
